apiVersion: apps/v1
kind: Deployment
metadata:
  name: wordpress
  labels:
    
spec:
  replicas: 
  selector:
    matchLabels:
      
  strategy:
    
  template:
    metadata:
      labels:
        
    spec:
      containers:
      - image: 
        name: wordpress
        env:
        - name: WORDPRESS_DB_HOST
          
        - name: WORDPRESS_DB_PASSWORD
        
        ports:
        
          
        volumeMounts:
        
      volumes:
      - name: wordpress
        
        